<mat-toolbar id="main-toolbar" color="primary">
    <mat-toolbar-row class="main-row">
        <div class="logo-container">
            <button mat-icon-button *ngIf="isSmallScreen" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <a routerLink="/home" class="mat-button" [ngClass]="{'mat-display-1':!isSmallScreen, 'mat-display-4': isSmallScreen}" style="margin: 0;">SWTOR STUFF</a>
        </div>
        <span class="mat-caption">Target: 7.0.1</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="secondary-row" *ngIf="!isSmallScreen">
        <a routerLink="/home" routerLinkActive="activeRoute" class="mat-button">Home</a>
        <a routerLink="/builder" routerLinkActive="activeRoute" class="mat-button">Builder</a>
        <a routerLink="/about" routerLinkActive="activeRoute" class="mat-button">About</a>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="ssa-drawer-container" hasBackdrop="false">
    <mat-drawer #drawer mode="over">
        <div class="drawer-menu-container">
            <a routerLink="/home" routerLinkActive="activeRoute" class="mat-button" (click)="drawer.close()">Home</a>
            <a routerLink="/builder" routerLinkActive="activeRoute" class="mat-button" (click)="drawer.close()">Builder</a>
            <a routerLink="/about" routerLinkActive="activeRoute" class="mat-button" (click)="drawer.close()">About</a>
        </div>
    </mat-drawer>
    <mat-drawer-content>

        <router-outlet></router-outlet>

        <app-footer></app-footer>

    </mat-drawer-content>
</mat-drawer-container>